<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Head içeriği -->
</head>
<body>
<!--<form th:object="${news}" th:action="@{/news/create}" method="post">-->
<!--  <input type="text" th:field="*{category}" placeholder="Category"/>-->
<!--&lt;!&ndash;  <input type="date" th:field="*{date}" placeholder="Date"/>&ndash;&gt;-->
<!--  <input type="text" th:field="*{title}" placeholder="Title"/>-->
<!--  <input type="text" th:field="*{content}" placeholder="Content"/>-->
<!--  <input type="text" th:field="*{imageUrl}" placeholder="Image URL"/>-->
<!--  <button type="submit">Create</button>-->
<!--</form>-->
</body>
</html>
