
<div th:fragment="footer" class="container-fluid pt-4 px-sm-3 px-md-4 mt-4" style="background-color: rgba(247,247,247,0.66);">
    <div class="row py-3">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h6  class="mt-3 mb-2  text-uppercase text-black-50 font-weight-bold follow-text">Bize Ulaşın</h6>
                <div class="d-flex">
<!--                    <a class="btn btn-secondary btn-square mr-2" href="https://twitter.com/rizom"><i class="fab fa-twitter"></i></a>-->
<!--                    <a class="btn btn-secondary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a class="btn btn-secondary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                    <a class="btn btn-secondary btn-square mr-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    <a class="btn btn-secondary btn-square" href="#"><i class="fab fa-youtube"></i></a>-->
                </div>
            </div>
            <div class="d-flex align-items-center">
                <i style="background-color: #F5F5F5;color: rgb(6,6,10)" class="fa fa-envelope mr-2 "></i>
                <a href="mailto:rizom@protonmail.com" class="font-weight-medium m-0 text-black-50 text-decoration-none">rizom@protonmail.com</a>
            </div>
        </div>
    </div>


</div>
