<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaos Aralığı</title>
</head>
<body>
<h1>Contact List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>About</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contact : ${contacts}">
    <td th:text="${contact.id}"></td>
    <td th:text="${contact.about}"></td>
    <td th:text="${contact.biosEthosEmail}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>